* {
  box-sizing: border-box;
  color: aliceblue;
}

/* Home Page */

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background-color: rgb(29, 29, 29);
  color: aliceblue;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 91px;
  margin-bottom: 40px;
}

.home-header-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin: 0 auto;
  z-index: 10;
  height: 91px;
  width: 100%;
  background-color: rgb(0, 80, 25);
}

.home-page-title {
  display: block;
  align-self: flex-start;
  margin: 0.25rem;
  font-size: 4.5rem;
}

.home-nav-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0 2rem 0 0;
}

.home-nav-container a {
  font-size: 2rem;
  text-decoration: none;
}

.home-nav-container a:hover {
  font-size: 2rem;
  text-decoration: underline;
}

.home-flex-container {
  flex-grow: 1;
  display: flex;
  width: 100%;
  overflow: auto;
}

.home-flex-container div {
  border: 2px solid red;
}

.flex-left-sidebar {
  justify-content: left;
  width: 20%;
  height: 100vh;
}

.flex-text-container {
  width: 40%;
  height: 100vh;
}

.flex-right-sidebar {
  justify-content: right;
  width: 40%;
  height: 100vh;
}

.flex-footer {
  display: flex;
  align-self: flex-end;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 40px;
  background-color: rgb(0, 80, 25);
}
